{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block head %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKYTECHNO IT SOLUTION</title>
    <!-- International phone no verification -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <!-- for importing font on survey page -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
    </style>
    <!-- for importing dialogs on survey page -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon  -->
    <!-- <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- Dialog -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css"> -->

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
    />
    <!-- Default theme -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"
    />

    {% block style %} {% endblock style %}
    <link rel="stylesheet" href="{% static 'css/customCard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Testimonial.css' %}" />

    <link rel="stylesheet" href="{% static 'css/search.css' %}" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/card.css' %}" />
  </head>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img
            src="{% static 'img/top1.gif' %}"
            alt=""
            class="query-form-img"
          />
          <h4 class="modal-title" id="exampleModalLabel">
            Take 1 Step to become our 1 percent
          </h4>
          <button
            type="button"
            class="close query-back-btn"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="form-group">
              <div class="row">
                <input
                  type="hidden"
                  value="{% url 'query_form_registeration' %}"
                  class="query-url"
                />
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control query-name"
                    id="recipient-name"
                    placeholder="Name"
                  />
                </div>
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control query-phone"
                    id="recipient-name"
                    placeholder="Phone"
                  />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-7">
                  <input
                    type="text"
                    class="form-control query-email"
                    id="recipient-name"
                    placeholder="Email"
                  />
                </div>
              </div>

              <hr />
              <div class="row justify-content-center">
                <div class="chip" onclick="queryExtractor(this)">SEO</div>
                <div class="chip" onclick="queryExtractor(this)">SMM</div>
                <div class="chip" onclick="queryExtractor(this)">GOOGLD AD</div>
                <div class="chip" onclick="queryExtractor(this)">
                  FACEBOOK AD
                </div>
                <div class="chip" onclick="queryExtractor(this)">
                  BRAND SHOOT
                </div>
                <div class="chip" onclick="queryExtractor(this)">AD SHOOT</div>
              </div>
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea
                class="form-control query-message"
                id="message-text"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button
            type="button"
            class="btn btn-primary"
            onclick="querySubmit()"
            style="width: 100%; padding: 0.5rem"
          >
            Send message
          </button>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light my-nav">
    <a class="navbar-brand" href="#">
      <!-- <i class="fi fi-rr-menu-burger"></i> -->
      <img
        src="{% static '/img/ceo-profile.png'%}"
        alt="icon"
        class="main-icon"
        data-toggle="modal"
        data-target="#exampleModal"
        data-whatever="@getbootstrap"
      />
      <span
        class="ceo-text"
        data-toggle="modal"
        data-target="#exampleModal"
        data-whatever="@getbootstrap"
        >Let`s Start</span
      >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="#"> </a>
      </ul>

      <a class="nav-link my-nav-btn" href="{% url 'blog_view' %}">BLOG</a>
      <a class="nav-link my-nav-btn" href="#">STORY</a>
      <a class="nav-link my-nav-btn" href="#">ON-DEMAND</a>
      <ul>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="navbardrop"
            data-toggle="dropdown"
            style="color: white"
          >
            Survey
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'survey_view' %}">Audit</a>
            <a class="dropdown-item" href="{% url 'partner_view' %}"
              >Partner with us</a
            >
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
      </ul>
      {% block extend_nav %} {% endblock extend_nav %}
    </div>
  </nav>
  {% endblock head %}

  <body>
    {% block content %} {% endblock content %} {% block bottom %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <!-- <script src="./js/blue-slider.js"></script> -->
    <script
      type="text/javascript"
      src="cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script src="{% static 'js/CustomCard.js' %}"></script>
    <script src="{% static 'js/Slick.js' %}"></script>

    <script src="{% static 'js/CreateCard.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/survey.js' %}"></script>
    <script src="{% static 'js/newsletter.js' %}"></script>

    {% endblock bottom %}
  </body>
</html>
