{% extends 'base.html' %} {% load static %} {% block content %}
<div id="sec-3">
  <div class="container">
    <div class="row justify-content-center">
      <p class="sec-3-head-text">ON DEMAND SERVICES</p>
    </div>
    <div class="row justify-content-center">
      <p class="sec-3-subhead-text">First Time In India</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <img
        src="{% static '/img/sky-ondemand.gif' %}"
        alt=""
        class="on-demand-img"
      />
    </div>
  </div>
</div>
{% endblock content %}
