{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Section 8 Our Story  -->
<div id="sec-8">
  <div class="container-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <p class="sec-8-head-text">OUR STORY</p>
      </div>
      <div class="row justify-content-center">
        <p class="sec-8-subhead-text">Why We Start</p>
        <div class="row justify-content-center">
          <div class="our_story-bg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
