{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Section 4 Intro video  -->
<div id="sec-4">
  <div class="container-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <p class="sec-4-head-text">WORK WITH PROS</p>
      </div>
      <div class="row justify-content-center">
        <p class="sec-4-subhead-text">Keep It Simple</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="our_adv"></div>
    </div>
  </div>
</div>
{% endblock content %}
