<div id="suv_sec_1">
  <div class="row">
    <div class="col-2 mt-5">
      <div class="row">
        <div class="col-6">
          <label for="Yes">Yes</label>
          <input
            type="checkbox"
            placeholder="Yes"
            name="{{field_name1}}"
            id="yes-{{ forloop.counter }}"
          />
        </div>

        <div class="col-6">
          <label for="No">No</label>
          <input
            type="checkbox"
            placeholder="No"
            name="{{field_name2}}"
            id="no-{{ forloop.counter }}"
          />
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="suv_quest_sec">
        <!-- Question  Heading -->
        <div class="row">
          <span class="suv_quest_heat">{{title}} </span>
        </div>
        <!-- Question  Sub_Heading -->
        <div class="row">
          <span class="suv_quest_subthead">{{subtitle}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<!-- <hr /> -->
