<html>
  <head>
    <meta
      property="og:title"
      content="How to change the address bar color in Chrome, Firefox, Opera, Safari"
    />
    <meta
      property="og:description"
      content="How to change the address bar color in Chrome, Firefox, Opera, Safari"
    />
    <meta
      property="og:url"
      content="http://webdevelopmentscripts.com/64-how-to-change-the-address-bar-color-in-chrome-firefox-opera-safari"
    />
    <meta
      property="og:image"
      content="https://w7.pngwing.com/pngs/289/293/png-transparent-qr-code-business-cards-barcode-coupon-test-box-angle-text-rectangle.png"
    />
  </head>
  <a  target="_blank" href="https://api.whatsapp.com/send?text=https://w7.pngwing.com/pngs/289/293/png-transparent-qr-code-business-cards-barcode-coupon-test-box-angle-text-rectangle.png" data-action="share/whatsapp/share"">
    <i class="fa-brands fa-whatsapp" id="print-whatsapp-icon"></i>
  </a>
</html>
